In [1]:
# import the packages
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [3]:
# Get the URL of the data
url='https://www.iplt20.com/auction'

In [5]:
#request to access the data
web =requests.get(url)

In [7]:
web

In [12]:
# geting html as text
soup=bs(web.text,'html.parser')

In [13]:
Headers=soup.find_all('tr',{'class':"ih-pt-tbl"})
Headers[1]

<tr class="ih-pt-tbl" style="display:revert">
<th class="skip-filter" style="text-align: left;">Sr. No.</th>
<th class="skip-filter" style="text-align: left;">Player</th>
<th>Base Price</th>
<th>Winning Bid</th>
<th>Capped/Uncapped</th>
<th></th>
</tr>

In [14]:
Header=Headers[1]

Header

<tr class="ih-pt-tbl" style="display:revert">
<th class="skip-filter" style="text-align: left;">Sr. No.</th>
<th class="skip-filter" style="text-align: left;">Player</th>
<th>Base Price</th>
<th>Winning Bid</th>
<th>Capped/Uncapped</th>
<th></th>
</tr>

In [17]:
# exracting columns names and cleanig the text for use

L1=[]
L2=[]
L3=[]
for header in Header:
    j=header.text.split()
                                                                                                                         
    L1.append(j)
for i in L1:
    k=(' ').join(i)
    L2.append(k)
L2=list(L2)

L2
L2=L2[1::2]

L2=L2[:-1]
L2

['Sr. No.', 'Player', 'Base Price', 'Winning Bid', 'Capped/Uncapped']

In [22]:

# making column of dataframe
df = pd.DataFrame(columns=L2)
df

Empty DataFrame
Columns: [Sr. No., Player, Base Price, Winning Bid, Capped/Uncapped]
Index: []

#Getting all row of table from the data like player list

In [25]:

r_data=soup.select("tbody",{'id':'rpSymbol'})
r_data=r_data[1]
# for i in r_data:
#     data=i.select('tr')
#     row=[i.text for td in data]


R1=[]
R2=[]
r_data
for row in r_data:
    row.strip
    j=row.text.split('\n')
    R1.append(j)
# for i in R1:
#     k=i.strip()
R1[1][0:6]
for i in range(len(R1)):
    k=R1[i][1:6]
    R2.append(k)
R2=R2[1::2]

In [27]:
R2.insert(0,L2)

In [29]:
R2

[['Sr. No.', 'Player', 'Base Price', 'Winning Bid', 'Capped/Uncapped'],
 ['1 ', 'Noor Ahmad  ', '2,00,00,000 ', '10,00,00,000 ', 'Capped'],
 ['2 ', 'Ravichandaran Ashwin', '2,00,00,000 ', '9,75,00,000 ', 'Capped'],
 ['3 ', 'Devon Conway  ', '2,00,00,000 ', '6,25,00,000 ', 'Capped'],
 ['4 ', 'Syed Khaleel Ahmed', '2,00,00,000 ', '4,80,00,000 ', 'Capped'],
 ['5 ', 'Rachin Ravindra  ', '1,50,00,000 ', '4,00,00,000 ', 'Capped'],
 ['6 ', 'Anshul Kamboj', '30,00,000 ', '3,40,00,000 ', 'Uncapped'],
 ['7 ', 'Rahul Tripathi', '75,00,000 ', '3,40,00,000 ', 'Capped'],
 ['8 ', 'Sam Curran  ', '2,00,00,000 ', '2,40,00,000 ', 'Capped'],
 ['9 ', 'Gurjapneet Singh', '30,00,000 ', '2,20,00,000 ', 'Uncapped'],
 ['10 ', 'Nathan Ellis  ', '1,25,00,000 ', '2,00,00,000 ', 'Capped'],
 ['11 ', 'Deepak Hooda', '75,00,000 ', '1,70,00,000 ', 'Capped'],
 ['12 ', 'Jamie Overton  ', '1,50,00,000 ', '1,50,00,000 ', 'Capped'],
 ['13 ', 'Vijay Shankar', '30,00,000 ', '1,20,00,000 ', 'Uncapped'],
 ['14 ', 'Vansh Bedi', '30,00,000 ', '55,00,000 ', 'Uncapped'],
 ['15 ', 'Andre Siddarth', '30,00,000 ', '30,00,000 ', 'Uncapped'],
 ['16 ', 'Shreyas Gopal', '30,00,000 ', '30,00,000 ', 'Uncapped'],
 ['17 ', 'Ramakrishna Ghosh', '30,00,000 ', '30,00,000 ', 'Uncapped'],
 ['18 ', 'Kamlesh Nagarkoti', '30,00,000 ', '30,00,000 ', 'Uncapped'],
 ['19 ', 'Mukesh Choudhary', '30,00,000 ', '30,00,000 ', 'Uncapped'],
 ['20 ', 'Shaik Rasheed', '30,00,000 ', '30,00,000 ', 'Uncapped']]

In [129]:
a=[42,5,6,7,8]
# q=get_elements_between_indices(a,1,3)
a[1:3+1]

[5, 6, 7]

In [131]:
for i in range(len(a)):
    print(i)

0
1
2
3
4

In [133]:
len(a)

5

In [136]:
dff=pd.DataFrame(R2)

In [724]:
dff.columns=dff.iloc[0]

In [726]:
# dff.reset_index(drop=True,inplace=True)

In [155]:
dff.columns = dff.iloc[0]

In [157]:
DataF=dff.drop([0])

In [161]:
DataF

0  Sr. No.                Player    Base Price    Winning Bid Capped/Uncapped
1       1           Noor Ahmad    2,00,00,000   10,00,00,000           Capped
2       2   Ravichandaran Ashwin  2,00,00,000    9,75,00,000           Capped
3       3         Devon Conway    2,00,00,000    6,25,00,000           Capped
4       4     Syed Khaleel Ahmed  2,00,00,000    4,80,00,000           Capped
5       5      Rachin Ravindra    1,50,00,000    4,00,00,000           Capped
6       6          Anshul Kamboj    30,00,000    3,40,00,000         Uncapped
7       7         Rahul Tripathi    75,00,000    3,40,00,000           Capped
8       8           Sam Curran    2,00,00,000    2,40,00,000           Capped
9       9       Gurjapneet Singh    30,00,000    2,20,00,000         Uncapped
10     10         Nathan Ellis    1,25,00,000    2,00,00,000           Capped
11     11           Deepak Hooda    75,00,000    1,70,00,000           Capped
12     12        Jamie Overton    1,50,00,000    1,50,00,000           Capped
13     13          Vijay Shankar    30,00,000    1,20,00,000         Uncapped
14     14             Vansh Bedi    30,00,000      55,00,000         Uncapped
15     15         Andre Siddarth    30,00,000      30,00,000         Uncapped
16     16          Shreyas Gopal    30,00,000      30,00,000         Uncapped
17     17      Ramakrishna Ghosh    30,00,000      30,00,000         Uncapped
18     18      Kamlesh Nagarkoti    30,00,000      30,00,000         Uncapped
19     19       Mukesh Choudhary    30,00,000      30,00,000         Uncapped
20     20          Shaik Rasheed    30,00,000      30,00,000         Uncapped

In [163]:
DataF.to_csv('ipl.csv')